*{
  padding: 0%;
  box-sizing: border-box;
}
body{
  height: 200vh;
}

/* --- Navigation --- */
header{
  background-color: aquamarine;
  position: sticky;
  top: 10px;
  bottom: 10px;
}
nav {
  text-align: center;
  margin-top: 1rem;

}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin-bottom: 0.5rem;
}

.navbar ul {
  list-style: none;      /* Removes default bullet points */
  padding: 0;            /* Removes default padding */
  margin: 0;             /* Removes default margin */
  display: flex;         /* Activates Flexbox for the ul container */
  justify-content: center;
  gap: 1rem;             /* Adds space between list items */
}
.linkedin  {
    background-color: #0a66c2;
    color: white;
    padding: 10px 15px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    position: fixed;
    bottom: 20px;
    right: 20px;
}
.linkedin:hover  {
   color: azure;
}



